





/* .about h3{
    font-size:x-small;
    font-weight: normal;
} */

span {
    color: rgb(34, 132, 161);
}
.experince{
    color: rgb(104, 72, 12);
    background-color: rgb(250, 235, 206);
    border-radius: 5px;
}