.faq{
    border: 1px solid rgba(0, 0, 255, 0.089);
    border-radius: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.692);
}
.content{
   border: 1px solid rgba(0, 0, 255, 0.089);
   border-radius: 10px;
}