.loggggg{
    /* border: 1px solid gray; */
    box-shadow: 0 2px 4px rgba(13, 14, 13, 0.616);
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    padding: 1.25rem; /* Equivalent to lg:p-5 */
   /* height: 100%; */
    

}
.loggggg input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 255, 0.534);
    outline: none;
}
.container h1{
    text-shadow: cornflowerblue;
}
